In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
data = pd.read_stata('C:\\Users\\bayle\\Documents\\HW4.dta')
display(data)

       person_ID  year  log_wage
0            4.0  1982  9.615806
1            5.0  1974  9.479604
2            5.0  1975  9.384294
3            5.0  1976  7.228388
4            5.0  1977  9.428673
...          ...   ...       ...
33774    35355.0  1975  9.026418
33775    35355.0  1976  8.780787
33776    35355.0  1977  9.086702
33777    35356.0  1975  8.348064
33778    35356.0  1976  7.288244

[33779 rows x 3 columns]

In [4]:
variables_list = data.columns.tolist()

In [5]:
print(variables_list)

['person_ID', 'year', 'log_wage']

In [27]:
variance_by_year = data.groupby('year')['log_wage'].var()

In [28]:
covariance_across_years = data.pivot_table(index='person_ID', columns='year', values='log_wage').cov()

In [12]:
print("Variance of log_wage for each year:")
print(variance_by_year)
print("\nCovariance between log_wage across all years:")
print(covariance_across_years)

Variance of log_wage for each year:
year
1974    0.380233
1975    0.411051
1976    0.466307
1977    0.546291
1978    0.579644
1979    0.502633
1980    0.509568
1981    0.542037
1982    0.629157
1983    0.701652
1984    0.746109
1985    0.689862
1986    0.681614
1987    0.684493
1988    0.511565
1989    0.644831
1990    0.625018
1991    0.587163
1992    0.704044
Name: log_wage, dtype: float32

Covariance between log_wage across all years:
year      1974      1975      1976      1977      1978      1979      1980  \
year
1974  0.380232  0.266168  0.223703  0.232121  0.247309  0.219021  0.192690
1975  0.266168  0.411052  0.269560  0.253488  0.267063  0.234334  0.205848
1976  0.223703  0.269560  0.466307  0.298764  0.262443  0.218654  0.206554
1977  0.232121  0.253488  0.298764  0.546291  0.306649  0.255678  0.238145
1978  0.247309  0.267063  0.262443  0.306649  0.579645  0.314938  0.268837
1979  0.219021  0.234334  0.218654  0.255678  0.314938  0.502633  0.304382
1980  0.192690  0.205848  0.206554  0.238145  0.268837  0.304382  0.509569
1981  0.172943  0.190847  0.179327  0.254721  0.264958  0.266425  0.342281
1982  0.174611  0.198061  0.199280  0.228993  0.234453  0.261171  0.302340
1983  0.186813  0.187549  0.209063  0.215633  0.233428  0.252946  0.297831
1984  0.171124  0.181489  0.195643  0.236753  0.244582  0.260685  0.303705
1985  0.169817  0.159429  0.185495  0.205950  0.213733  0.229166  0.259129
1986  0.186373  0.175009  0.181148  0.230313  0.201749  0.218492  0.251555
1987  0.150952  0.169591  0.182515  0.207437  0.210650  0.196992  0.224739
1988  0.141803  0.154137  0.157680  0.188814  0.173736  0.186591  0.221790
1989  0.177476  0.191548  0.162372  0.206426  0.174617  0.201091  0.222968
1990  0.144341  0.177200  0.176461  0.198869  0.163338  0.176052  0.194946
1991  0.129477  0.153252  0.183787  0.219495  0.143215  0.165536  0.182388
1992  0.109535  0.147261  0.153181  0.166731  0.140366  0.164548  0.200839

year      1981      1982      1983      1984      1985      1986      1987  \
year
1974  0.172943  0.174611  0.186813  0.171124  0.169817  0.186373  0.150952
1975  0.190847  0.198061  0.187549  0.181489  0.159429  0.175009  0.169591
1976  0.179327  0.199280  0.209063  0.195643  0.185495  0.181148  0.182515
1977  0.254721  0.228993  0.215633  0.236753  0.205950  0.230313  0.207437
1978  0.264958  0.234453  0.233428  0.244582  0.213733  0.201749  0.210650
1979  0.266425  0.261171  0.252946  0.260685  0.229166  0.218492  0.196992
1980  0.342281  0.302340  0.297831  0.303705  0.259129  0.251555  0.224739
1981  0.542037  0.350024  0.310555  0.303280  0.266673  0.255760  0.252414
1982  0.350024  0.629157  0.348557  0.348459  0.345709  0.325680  0.278233
1983  0.310555  0.348557  0.701649  0.423167  0.401102  0.390195  0.360385
1984  0.303280  0.348459  0.423167  0.746107  0.443361  0.407637  0.350220
1985  0.266673  0.345709  0.401102  0.443361  0.689860  0.446360  0.379651
1986  0.255760  0.325680  0.390195  0.407637  0.446360  0.681613  0.420080
1987  0.252414  0.278233  0.360385  0.350220  0.379651  0.420080  0.684493
1988  0.247930  0.278888  0.326801  0.338189  0.340567  0.384888  0.391887
1989  0.234822  0.255396  0.294632  0.320238  0.351953  0.354968  0.381379
1990  0.210068  0.245366  0.311031  0.286285  0.312728  0.349163  0.341647
1991  0.193489  0.252007  0.275667  0.280938  0.313358  0.313051  0.318024
1992  0.201162  0.219352  0.267655  0.270830  0.281033  0.286647  0.277021

year      1988      1989      1990      1991      1992
year
1974  0.141803  0.177476  0.144341  0.129477  0.109535
1975  0.154137  0.191548  0.177200  0.153252  0.147261
1976  0.157680  0.162372  0.176461  0.183787  0.153181
1977  0.188814  0.206426  0.198869  0.219495  0.166731
1978  0.173736  0.174617  0.163338  0.143215  0.140366
1979  0.186591  0.201091  0.176052  0.165536  0.164548
1980  0.221790  0.222968  0.194946  0.182388  0.200839
1981  0.247930  0.234822  0.210068  0.193489  0.201162
1982  0.278888  0.255396  0.245366  0.252007  0.219352
1983  0.326801  0.294632  0.311031  0.275667  0.267655
1984  0.338189  0.320238  0.286285  0.280938  0.270830
1985  0.340567  0.351953  0.312728  0.313358  0.281033
1986  0.384888  0.354968  0.349163  0.313051  0.286647
1987  0.391887  0.381379  0.341647  0.318024  0.277021
1988  0.511565  0.385221  0.363491  0.315865  0.277453
1989  0.385221  0.644830  0.403763  0.379751  0.352977
1990  0.363491  0.403763  0.625018  0.380294  0.357061
1991  0.315865  0.379751  0.380294  0.587163  0.419311
1992  0.277453  0.352977  0.357061  0.419311  0.704044

In [68]:
def simulate_income_data(params, num_individuals, num_periods):
    var_alpha, rho, var_eta, var_epsilon = params
    
    # Simulate individual-specific fixed effects
    individual_fixed_effects = np.random.normal(scale=np.sqrt(var_alpha), size=num_individuals)
    
    # Initialize DataFrame to store simulated income data
    simulated_data = pd.DataFrame(index=range(num_individuals), columns=range(num_periods))
    
    # Simulate income data for each individual
    for i in range(num_individuals):
        # Initialize the autoregressive process
        z_process = 0
        
        # Generate income data for each period
        for t in range(num_periods):
            # Simulate shock to the autoregressive process
            eta = np.random.normal(scale=np.sqrt(var_eta))
            
            # Update autoregressive process
            z_process = rho * z_process + eta
            
            # Simulate income for the current period
            income = individual_fixed_effects[i] + z_process + np.random.normal(scale=np.sqrt(var_epsilon))
            
            # Store simulated income in DataFrame
            simulated_data.at[i, t] = income
    
    return simulated_data

In [76]:
guessed_params = [0.5, 0.9, 0.2, 0.1]  # Example parameters for alpha, rho, var_eta, and var_epsilon
num_individuals = 1000  # Number of individuals
num_periods = 19  # Number of periods (e.g., years)

# Simulate income data
simulated_data = simulate_income_data(guessed_params, num_individuals, num_periods)

In [77]:
print(simulated_data)

           0         1         2         3         4         5         6   \
0    0.093337  0.404841  0.766256  0.813215 -0.101056   0.38157  0.535529
1   -0.906501 -0.513227 -0.110164  0.227811  0.086962  -0.08045 -0.338289
2   -1.707109 -0.417191 -0.096259 -0.401771  0.302603  1.348372  1.298273
3   -0.761609 -0.550866  0.967775  0.903526    0.8227  1.271983  1.526608
4   -0.652009  0.688735 -0.223649  0.037966  0.562785  0.277354  -0.00611
..        ...       ...       ...       ...       ...       ...       ...
995 -0.598646 -0.534849 -0.250475  -1.12976 -2.086689 -1.967148 -2.135734
996  1.639314  1.262608  1.308448 -0.102592 -0.950684 -0.591681 -1.424137
997  0.431165  0.127634  0.489259  1.162034  0.589839   1.03849  0.290333
998  -0.21314 -0.447817 -1.116315 -0.137838 -0.313425  0.219398  0.744516
999  1.388218  1.164052  1.206393  0.355479  0.564018   1.31804 -0.306445

           7         8         9         10        11        12        13  \
0   -0.540964 -0.651883 -0.529562 -0.723849  -0.42227 -0.891202  0.321448
1   -1.173824 -2.004913 -0.703246 -0.724431 -0.417224 -0.010873 -0.466584
2    0.727336  1.277083  0.072781 -0.012129 -0.080962 -0.040472 -0.247194
3    1.452865  2.614146  1.508691  1.854509  1.269683  0.755169  1.501093
4    0.927879 -0.063806  0.881976  0.155575  0.028452 -0.982441 -0.072927
..        ...       ...       ...       ...       ...       ...       ...
995 -2.476662 -1.413059  -0.37101  0.157496   0.04356 -0.474314 -0.694784
996 -2.291425 -1.924201 -1.605645 -1.389818  0.392441  0.335807  0.458611
997   0.59442  0.660503  0.505468  0.662552  0.870298  1.854505  1.944954
998  1.397252   0.32055 -0.279244  1.845284  0.711923  0.847266  2.390094
999  0.406892  1.305952  1.035456  0.069167  0.649141  0.677267   0.08904

           14        15        16        17        18
0   -1.128758  0.091912  0.011156  0.266025  0.534998
1   -0.317313  0.174434 -0.398295 -0.740639 -0.930472
2   -0.034382  0.097381 -0.249099 -0.239695 -0.647472
3    0.604883  0.736176  1.382621  1.242075  0.544708
4   -0.556236  0.442477 -0.081709  0.923231  0.436344
..        ...       ...       ...       ...       ...
995  0.092477 -0.302933 -1.181061  0.444863  0.457822
996  0.408852  0.329885  0.709739  0.165779  0.233104
997  1.589155  1.404103   2.25045  1.521822  1.706917
998  2.030828  2.025016  0.622907  1.398687  1.098809
999  1.202379  0.388589  0.614083  0.662995  0.163553

[1000 rows x 19 columns]

In [78]:
cov_matrix = simulated_data.cov()

In [79]:
display(cov_matrix)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0.785751,0.651012,0.630706,0.618356,0.615958,0.592810,0.570082,0.573846,0.566039,0.564970,0.580778,0.601339,0.583512,0.559532,0.580760,0.573083,0.576820,0.538497,0.539721
1,0.651012,0.919625,0.789416,0.750048,0.752484,0.718899,0.685038,0.689314,0.684397,0.644560,0.674823,0.665214,0.610591,0.594648,0.589297,0.584605,0.604959,0.551523,0.557418
2,0.630706,0.789416,1.064570,0.922266,0.906195,0.858141,0.803293,0.782856,0.796085,0.738464,0.748940,0.731796,0.683889,0.661357,0.643175,0.626187,0.651564,0.587778,0.593260
3,0.618356,0.750048,0.922266,1.185387,1.056477,0.996121,0.928464,0.900639,0.900215,0.838201,0.821257,0.798762,0.745488,0.720445,0.701405,0.677740,0.678426,0.631047,0.622159
4,0.615958,0.752484,0.906195,1.056477,1.327792,1.140002,1.062696,1.029727,1.006110,0.939796,0.915424,0.867270,0.813169,0.786425,0.747206,0.720354,0.707712,0.657081,0.649780
5,0.592810,0.718899,0.858141,0.996121,1.140002,1.349049,1.153346,1.095018,1.079572,1.013138,0.978758,0.948676,0.892526,0.844075,0.815898,0.798662,0.786200,0.717171,0.698337
6,0.570082,0.685038,0.803293,0.928464,1.062696,1.153346,1.396492,1.204518,1.177507,1.084047,1.064780,1.006618,0.941792,0.909332,0.856913,0.835661,0.819668,0.733100,0.741670
7,0.573846,0.689314,0.782856,0.900639,1.029727,1.095018,1.204518,1.443284,1.302037,1.203781,1.164349,1.093412,0.998790,0.959838,0.915497,0.887131,0.865565,0.770743,0.763660
8,0.566039,0.684397,0.796085,0.900215,1.006110,1.079572,1.177507,1.302037,1.572681,1.333922,1.279078,1.207353,1.097896,1.050558,0.991386,0.931549,0.912864,0.820973,0.799624
9,0.564970,0.644560,0.738464,0.838201,0.939796,1.013138,1.084047,1.203781,1.333922,1.523875,1.360187,1.261061,1.160248,1.115659,1.049199,0.983641,0.971659,0.853875,0.822786
10,0.580778,0.674823,0.748940,0.821257,0.915424,0.978758,1.064780,1.164349,1.279078,1.360187,1.602274,1.399650,1.265738,1.210741,1.120934,1.062486,1.035843,0.907976,0.874937
11,0.601339,0.665214,0.731796,0.798762,0.867270,0.948676,1.006618,1.093412,1.207353,1.261061,1.399650,1.599899,1.379068,1.316258,1.236516,1.161065,1.121635,0.998055,0.943869
12,0.583512,0.610591,0.683889,0.745488,0.813169,0.892526,0.941792,0.998790,1.097896,1.160248,1.265738,1.379068,1.589211,1.409604,1.316588,1.234019,1.179688,1.039563,0.986136
13,0.559532,0.594648,0.661357,0.720445,0.786425,0.844075,0.909332,0.959838,1.050558,1.115659,1.210741,1.316258,1.409604,1.601908,1.404306,1.326379,1.241759,1.114385,1.041624
14,0.580760,0.589297,0.643175,0.701405,0.747206,0.815898,0.856913,0.915497,0.991386,1.049199,1.120934,1.236516,1.316588,1.404306,1.587846,1.389348,1.308261,1.183324,1.096172
15,0.573083,0.584605,0.626187,0.677740,0.720354,0.798662,0.835661,0.887131,0.931549,0.983641,1.062486,1.161065,1.234019,1.326379,1.389348,1.624900,1.440196,1.286647,1.188418
16,0.576820,0.604959,0.651564,0.678426,0.707712,0.786200,0.819668,0.865565,0.912864,0.971659,1.035843,1.121635,1.179688,1.241759,1.308261,1.440196,1.653300,1.377116,1.286375
17,0.538497,0.551523,0.587778,0.631047,0.657081,0.717171,0.733100,0.770743,0.820973,0.853875,0.907976,0.998055,1.039563,1.114385,1.183324,1.286647,1.377116,1.512323,1.318006
18,0.539721,0.557418,0.593260,0.622159,0.649780,0.698337,0.741670,0.763660,0.799624,0.822786,0.874937,0.943869,0.986136,1.041624,1.096172,1.188418,1.286375,1.318006,1.514867